.dropdown {
    position: absolute;
    z-index: 2;
}

.dropdown:hover .dropdown-list1 {
    opacity: 1;
    visibility: visible;
}

.dropdown:hover .dropdown-list2 {
    opacity: 1;
    visibility: visible;
}

.dropdown:hover .dropdown-list3 {
    opacity: 1;
    visibility: visible;
}

.dropdown:hover .dropdown-list4 {
    opacity: 1;
    visibility: visible;
}

.dropdown:hover .dropdown-list5 {
    opacity: 1;
    visibility: visible;
}

.dropdown-list1 {
    background-color: rgb(241, 236, 236);
    position: absolute;
    width:310px;
    top: 46px;
        left: -280px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.2s linear;
}

.dropdown-list2 {
    background-color: rgb(241, 236, 236);
    position: absolute;
    top: 45px;
    left: -210px;
    width: 240px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.2s linear;
}

.dropdown-list3 {
    border-radius: 8px;
    background-color: rgb(241, 236, 236);
    position: absolute;
    top: 45px;
    left: -200px;
    width: 240px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.2s linear;
}

.dropdown-list4 {
    border-radius: 8px;
    background-color: rgb(241, 236, 236);
    position: absolute;
    top: 45px;
    left: -195px;
    width: 240px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.2s linear;
}

.dropdown-list5 {
    border-radius: 8px;
    background-color: rgb(241, 236, 236);
    position: absolute;
    top: 45px;
    left: -203px;
    width: 240px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.2s linear;
}

.dropdown-list__item {
    padding: 1rem;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;

    &:nth-child(even) {
        background: #d1ccc8;
    }
}