.ant-modal-close-icon {
  color: #ff9138 !important;
  font-size: 20px;
  font-weight: 700;
}
.ant-modal-close-x {
  position: relative;
  top: 0;
  right: 50px;
}
.ant-modal-body {
  padding: 0 !important;
  width: 469px;
  height: 370px;
  position: absolute;
  background-color: #ffffff;
  margin: 0 !important;
  border-radius: 24px;
}
